/********************
 *
 * Page Design
 *
 *******************/

body {
  background: #eeeeee;
  padding: 50px;
}

.page {

  margin: 0 auto;
  padding: 100px;
  box-sizing: border-box;

  max-width: 840px;
  min-height: 1000px;

  background: #fff;
  box-shadow: 0 0 0 0.75pt #d1d1d1,0 0 3pt 0.75pt #ccc;
  border-radius: 3px;

  line-height: 1.4em;

  color: rgba(0,0,0,0.8);

}

/********************
 *
 * Editor controls
 *
 *******************/

#controls {
  top: -25px;
}

#dev-controls {
  top: -15px;
  background: rgba(60, 60, 60, .8);
}

.controls {

  margin: 0 auto;
  padding: 8px;
  box-sizing: border-box;

  position: relative;

  max-width: 840px;
  background: rgba(30, 30, 30, .8);
  box-shadow: 0 0 0 0.75pt #d1d1d1,0 0 3pt 0.75pt #ccc;
  border-radius: 3px;

  cursor: default;
  user-select: none;

}

.controls .group {
  margin-right: 32px;
}

.controls button {

  border: none;
  background: rgba(230, 230, 230, .2);
  border-radius: 2px;

  padding: 6px 12px;

  color: #fff;
  font-size: 14px;
  line-height: 14px;

  cursor: default;
  user-select: none;

}

.controls button:hover {
  background: rgba(230, 230, 230, .3);
}

.controls button:focus {
  outline: none;
}

.controls button:active {
  background: rgba(0, 0, 0, .2);
}

.controls [data-cmd="strong"] {
  font-weight: bold;
}

.controls [data-cmd="em"] {
  font-style: italic;
}

.controls [data-cmd="u"] {
  text-decoration: underline;
}

.controls [data-cmd="s"] {
  text-decoration: line-through;
}

/********************
 *
 * Content styles
 *
 *******************/

blockquote {
  border-left: 4px solid #ddd;
  padding-left: 10px;
  margin-left: 10px;
}
